.UserProfile {
    position:absolute;
    top: 0.5rem;
    right: 1rem;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
}

.username {
 line-height: 2.5rem;
 padding: 0 0.5rem;
 color: white;
 font-weight: 500;
}

.image {
    width: 2.5rem;
    height: 2.5rem;
    background-position: center;
    
}

@media only screen and (max-width: 600px){
    .username{
        display:none;
    }

    .image {
        border-radius: 50%;
    }
}

@media only screen and (max-width: 360px){
    .image {
        display: none;
    }
}